<!-- fő konténer, háttérszín és navigáció
     szélességét változtatja, ha a gombra rányomunk -->
<div [ngClass]="{'w-20': true,
                 'md:w-20': !isLeftNavOpen(),
                 'md:w-72': isLeftNavOpen()
                }"
     class="flex flex-col py-6 px-4 bg-gray-900 
            h-screen text-gray-200 relative duration-550">

  <!-- Az oldal logoja -->
  <div class="logo h-[40px] flex items-center gap-x-2 mb-4">

    <!-- Könyv ikon -->
    <fa-icon [ngClass]="{'rotate-[360deg]': !isLeftNavOpen()}" 
             [icon]="icon.faBook" 
             size="xl"
             class="bg-rose-600 w-fit text-gray-900 
                    p-2 rounded-lg duration-550">
    </fa-icon>

    <!-- Oldal neve -->
    <span [ngClass]="{'scale-0': true,
                       'md:scale-0': !isLeftNavOpen(),
                       'md:scale-100': isLeftNavOpen()}" 
          class="font-bold text-2xl duration-550 origin-left">
      BookFlow
    </span>
  </div>

  <!-- ez a gomb vezérli a sidebar szélességét (összecsukott/kinyitott állapot) -->
  <fa-icon [ngClass]="{'rotate-180': !isLeftNavOpen()}"
           [icon]="icon.faArrowLeft" 
           size="lg"
           (click)="isLeftNavOpen.set(!isLeftNavOpen())"
           class="absolute text-gray-900 -right-4 top-8 h-8 w-8 bg-white flex items-center
                  justify-center rounded-full border border-gray-900 cursor-pointer duration-550
                  hidden md:flex">
  </fa-icon>

  <!-- egy szimpla elválasztó vonal -->
  <hr class="my-2 text-gray-600">

  <!-- ebben a konténerben vannak a navigációs részek -->
  <div class="nav-items flex flex-col gap-y-4 mt-4">

    <!-- ngForral létrehozzuk a navigációs menüpontokat,
         amit a navItemsből szedünk ki iconnal és labellel együtt
         a label összecsukott állapotba nem jelenik meg -->
    <div *ngFor="let item of navItems; index as i" 
         class="nav-item gap-x-2 p-3 flex items-center 
                rounded-lg hover:bg-[rgba(255,255,255,0.1)] cursor-pointer"
         (click)="activeRoute(item, i)" 
         [ngClass]="{'bg-[rgba(255,255,255,0.1)]' : item.isActive}">
      <fa-icon [icon]="item.icon" size="lg"></fa-icon>
      <span [ngClass]="{'scale-0': true,
                       'md:scale-0': !isLeftNavOpen(),
                       'md:scale-100': isLeftNavOpen()
                      }"
            class="text-base font-medium duration-550 origin-left">
        {{item.label}}
      </span>
    </div>
  </div>

  <!-- bejelentkezés részleg -->
  <div class="nav-items mt-auto flex flex-col gap-y-4 mt-4"
       >

    <!-- szintén egy elválasztó vonal -->
    <hr class="my-2 text-gray-600">

    <!-- loginra navigáló div iconnal és névvel együtt
         a név szintén nem jelenik meg összecsukott állapotba  -->
    <div class="nav-item mt-auto gap-x-2 p-3 flex items-center
                rounded-lg hover:bg-[rgba(255,255,255,0.1)] cursor-pointer"
         (click)="activeRoute(login)" 
         [ngClass]="{'bg-[rgba(255,255,255,0.1)]' : login.isActive}">
      <fa-icon [icon]="login.icon" size="lg"></fa-icon>
      <span [ngClass]="{'scale-0': true,
                       'md:scale-0': !isLeftNavOpen(),
                       'md:scale-100': isLeftNavOpen()}" 
            class="text-base font-medium duration-550 origin-left">
        {{ auth.isLoggedIn() ? (user?.name || login.label) : login.label }}
      </span>
    </div>
  </div>
</div>