<div class="flex h-screen bg-gray-300 overflow-hidden">

  <!-- MAIN WRAPPER -->
  <div class="flex-1 overflow-y-auto p-10">

    <!-- Header -->
    <div class="mb-10 animate-fade-in-up">
      <h1 class="text-4xl font-extrabold text-gray-900 drop-shadow-md">
        Könyvtár
      </h1>
      <p class="text-gray-700 text-lg">
        Böngészd a könyveket és válaszd ki, melyiket szeretnéd kölcsönözni.
      </p>
    </div>

    <!-- BOOK GRID -->
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6">

      <!-- Book Card -->
      @for (book of libraryBooks; track $index) {
      <div class="bg-gradient-to-br from-white via-gray-100 to-gray-400
                 shadow-xl rounded-xl overflow-hidden 
                 hover:shadow-2xl hover:-translate-y-2 hover:scale-[1.03] 
                 transition-all duration-300 cursor-pointer flex flex-col 
                 animate-fade-in-up">

        <img [src]="book.img" class="h-48 w-full object-cover">

        <div class="p-4 flex-1 flex flex-col justify-between">
          <div>
            <h3 class="font-semibold text-lg text-gray-900">{{ book.title }}</h3>
            <p class="text-sm text-gray-600">{{ book.author }}</p>
          </div>

          <button (click)="openModal(book)" class="mt-4 w-full py-2 rounded-lg text-white font-medium 
                  bg-gradient-to-r to-red-600 
                  shadow-md hover:shadow-lg 
                  transform hover:scale-105 transition-all duration-200">
            Több
          </button>
        </div>

      </div>
      }

    </div>

  </div>
</div>
<!-- Modal -->
@if (isModalOpen){
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="bg-white rounded-lg shadow-lg w-96 p-6">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold">{{ selectedBook?.title }}</h2>
        <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">&times;</button>
      </div>
      <p class="text-gray-700 mb-4">Szerző: {{ selectedBook?.author }}</p>
      <p class="text-gray-700 mb-4">Rövid talpaló: </p>
      <img [src]="selectedBook?.img" class="w-full object-cover rounded mb-4">
      <button (click)="closeModal()" class="w-full py-2 bg-red-600 text-white rounded hover:bg-red-700">
        Bezárás
      </button>
    </div>
  </div>
}