<div class="container">
    <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900">
        <div class="text-gray-100 text-xl">
            <div class="p-2.5 mt-1 flex items-center">
                <i class="ri-book-line px-2 py-1 bg-blue-600 rounded-md"></i>
                <h1 class="font-bold text-gray-200 text-[15px] ml-3">BookFlow</h1>
                <i class="ri-close-line ml-20 cursor-pointer lg:hidden"></i>
            </div>
            <hr class="my-2 text-gray-600">
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer
                bg-gray-700 text-white">
            <i class="ri-search-line text-sm"></i>
            <input type="text" placeholder="Keresés" class="text-[15px] ml-4 w-full bg-transparent focus:outline-none"> 
        </div>  
        
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer
                hover:bg-blue-600 text-white">
            <i class="ri-home-4-fill text-sm"></i>
            <span class="text-[15px] ml-4 text-gray-200">Kezdőlap</span>
        </div>

        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer
                hover:bg-blue-600 text-white">
            <i class="ri-bookmark-fill text-sm"></i>
            <a href="/books"></a>
            <span class="text-[15px] ml-4 text-gray-200">Könyvek</span>
            
        </div>

        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer
                hover:bg-blue-600 text-white">
            <i class="ri-file-fill text-sm"></i>
            <span class="text-[15px] ml-4 text-gray-200">Kölcsönzés</span>
        </div>

        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer
                hover:bg-blue-600 text-white">
            <i class="ri-group-fill text-sm"></i>
            <span class="text-[15px] ml-4 text-gray-200">Rólunk</span>
        </div>
        <hr class="my-4 text-gray-600">
    </div>
</div>


